<h1>
  <form method="post" action="/pirates" label="form">
    Pirate's Name: <input type="text" name="pirate[name]">
    Pirate's Weight: <input type="text" name="pirate[weight]">
    Pirate's Height: <input type="text" name="pirate[height]">
    First Ship's Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1">
    First Ship's Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1">
    First Ship's Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
    Second Ship's Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2">
    Second Ship's Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2">
    Second Ship's Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">>
    <input type="submit" value="Submit">
  </form>
</h1>
